<section id="googlemap" class="container-fluid">
  <div class="row" id="map_container">
    <div id="map">
    </div>
  </div>
</section>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiaGVsbG9sYW1wcG9zdCIsImEiOiJjanhrYXhmdDcyODgwM3lzOGg1OG50ZmVtIn0.4PNfG_tujoAdey9k61WSdA';

	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/dark-v9',  
		center: [-2.051042, 52.749874],
    zoom: 10.5,
    dragging: false,
	});

	var geojson = {
	  //1
    type: 'FeatureCollection',
    features: [{
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [-2.1174929, 52.8071787]
        },
        properties: {
        title: 'Lamp Post',
        }
    },
    //2
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1204267, 52.8049159]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //3
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1147067, 52.8054278]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //4
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1131611, 52.8044553]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //5
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1125335, 52.805663]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //6
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1191491, 52.807176]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //7
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1204936, 52.8079751]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //8
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1211373, 52.8082151]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //9
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1184348, 52.805784]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //10
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1168797, 52.8061324]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //11
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1157938, 52.8060124]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //12
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1160084, 52.8074847]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //13
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1158367, 52.8046371]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //14
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1214023, 52.8047701]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    //15
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.1219552, 52.8040566]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.0311583, 52.6892191]
        },
        properties: {
        title: "Bench",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.0300394, 52.6897613]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.0311454, 52.6897317]
        },
        properties: {
        title: "Bin",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.0300577, 52.6888197]
        },
        properties: {
        title: "Tree",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.0321957, 52.6895391]
        },
        properties: {
        title: "Bollard",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.0254634, 53.1059222]
        },
        properties: {
        title: "Tree",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.0254713, 53.1060703]
        },
        properties: {
        title: "Bench",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.0238319, 53.1057741]
        },
        properties: {
        title: "Bin",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.024168, 53.1058001]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -2.026701, 53.106067]
        },
        properties: {
        title: "Bollard",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -1.9352449, 52.760659]
        },
        properties: {
        title: "Lamp Post",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -1.9351545, 52.7608094]
        },
        properties: {
        title: "Bench",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -1.9357474, 52.7606446]
        },
        properties: {
        title: "Bollard",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -1.9356916, 52.7594091]
        },
        properties: {
        title: "Tree",
        }
    },
    {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [ -1.9358117, 52.7597323]
        },
        properties: {
        title: "Bin",
        }
    },
    
]
};


	geojson.features.forEach(function(marker) {

	// create a HTML element for each feature
	var el = document.createElement('div');
	el.className = 'marker';

	// make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
		.setLngLat(marker.geometry.coordinates)
		.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    		.setHTML('<h3>' + marker.properties.title + '</h3>'))
  		.addTo(map);
  });


  map.addControl(new mapboxgl.NavigationControl());
  map.scrollZoom.disable();
</script>